<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
<title> Flower </title>
<style type="text/css">


p{
color:black
font-size:25;
}
img {
  width: 35%;
}

</style>
</head>
<body>
<h2>Mobile app development:</h2>

<p>With the world going mobile, the importance of apps is increasing day by day. App development hence refers to the creation of applications to be used on mobile devices.The Prime goal of an enterprise mobile app is to help you restructure, streamline and manage crucial business processes on-the-go. Whereas micro-app aims to suffice very targeted operations and takes less load. However, both are successfully accomplishing their endeavors and are expected to continue further.</p>
<p>Today when we buy a smartphone or a tablet, we can see that it comes with some pre-installed apps for social media or searching or such other purposes..</p>
<p>The more people buying smartphones, the more the necessity of workable apps. It proves that learning app development is a pretty good career choice today.</p>

<h3>Our Business communicaton training skills are:</h3><p><img src="mobile2.jpg" align="right"></p>

<p>1.Introduction To Java Programming </p>

<p>2. Language Fundamentals</p>

<p>3. Core Collection Classes </p>

<p>4. Packages<img src="mobile 3.jpeg" align="right"></p>

<p>5.Exception Handling</p>

<p>6.Android Components</p>

<p>7.Content Providers & Location Services</p>

<p>8.  Multimedia & Deployment</p>



</body>
</html>