<!DOCTYPE HTML>

<html>
	<head>
		<title>Doc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />



	</head>
	<body>
                 <h1 align = "center">
                       <font  size = "9" color = "#3FA7DB" > <b> Augmedix </b> </font>
                 </h1>
                 <font  size = "15" color = "#142869"> <b> Rehumanizing Healthcare </b> </font><br/>
                 <img src = "image.PNG" height ="700" width = "1100" align = "center" hspace = "100" vspace = "100"/>

                <p>
                      <font  size = "10" color = "#142869"> <u > About Us </u></font><br/>

                      <font  size = "5"> Augmedix turns natural clinician-patient conversation into medical documentation, in real time, so that clinicians can focus on what matters most - patient care. The Augmedix platform is powered by a combination of proprietary NLP technology and specialty-trained teams to ensure quality and consistent documentation.
                      </font><br/>

                      <a href = "https://augmedix.com/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>



                 <h1 align = "center">
                       <font  size = "10" color = "#3FA7DB" > <b> Digicon </b> </font>
                 </h1>
                 <img src = "dg.JPG " height ="400" width = "800" align = "center" hspace = "100" vspace = "20"/><br/>

                 <p>
                      <font  size = "10" color = "#142869"> <u > About Us </u></font><br/>

                      <font  size = "5"> Digicon Technologies Ltd is a leading outsourcing organization in Bangladesh, with an industry leading edge in the vertical of BPO and IT/ITES solutions. Through our dynamic solution mechanism, we list among our clients some of the world’s most prestigious firms and companies as well as diverse government agencies. Our company is a pioneer in paving the way for the rise of the BPO industry in Bangladesh and our experience gives us an edge in delivering an excellent customer experience. Our multinational team of experts and specialists allow us to offer a full spectrum of business process management services with a global outlook that sets us apart from the rest.

                      </font><br/>

                      <a href = "http://www.digicontechnologies.com/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>






       </body>




</html>

