<!DOCTYPE HTML>

<html>
	<head>
		<title>Doc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />



	</head>
	<body>
                 <h1 align = "center">
                       <font  size = "9" color = "#3FA7DB" > <b> DhakaCalls </b> </font>
                 </h1>

                 <img src = "dk2.jpg" height ="600" width = "1000" align = "center" hspace = "100" vspace = "40"/>

                <p>
                      <font  size = "10" color = "#142869"> <u > About Us </u></font><br/>

                      <font  size = "5"> Dhaka Calls is one of the fastest growing contact centre in bangladesh. Since its founding in 2009, Dhaka Calls family is committed to continually invest in processes, people, facilities and infrastructure, ensuring the highest levels of operation. We are truly committed to building scalable and repeatable business solutions & services ensuring client success.
                      </font><br/>

                      <a href = "https://www.dhakacalls.com.bd/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>



                 <h1 align = "center">
                       <font  size = "10" color = "#3FA7DB" > <b> Time ASL Call Center </b> </font>
                 </h1>
                 <img src = "tim.jpg" height ="300" width = "600" align = "center" hspace = "100" vspace = "40"/><br/>

                 <p>
                      <font  size = "10" color = "#142869"> <u > About Us </u></font><br/>

                      <font  size = "5">
                        Times ASL Call Center firmly believes in the importance of training, learning, and benchmarking for achievement of outstanding quality.
                        Training inputs are imparted to every call center agent on an ongoing basis to maintain enhanced performance levels and individual growth.

                      </font><br/>

                      <a href = "https://www.timesgroupbd.com/callcenter/index.html" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>






       </body>




</html>
