<!DOCTYPE HTML>

<html>
	<head>
		<title>Doc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />



	</head>
	<body>
                 <h1 align = "center">
                       <font  size = "9" color = "#3FA7DB" > <b> ASK Telecom Ltd </b> </font>
                 </h1>

                 <img src = "ask.jpg" height ="400" width = "800" align = "center" hspace = "80" vspace = "40"/>

                <p>
                      <font  size = "9"> <u >About Us </u></font><br/>

                      <font  size = "5">At ASK Telecom, we offer Information Technology Services, Business Process Outsourcing Solutions, Consultancy Services and Customer Service & Support, along with other mainstream services. Our highly competent industry expertise and well cultivated offshore liaison(s)allow us to remain committed to providing maximum value, high quality and low cost Business Processing and IT services to our prospective clients.
                      </font><br/>

                      <a href = "http://ask-telecom.com/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>

                </p>

           <h1 align = "center">
                       <font  size = "9" color = "#3FA7DB" > <b> Wintel Limited </b> </font>
                 </h1>

                 <img src = "win.jpg" height ="400" width = "700" align = "center" hspace = "100" vspace = "70"/>

                <p>
                      <font  size = "9"> <u >About Us </u></font><br/>

                      <font  size = "5">
                           Wintel is the first & clearly the leading mobile value added service provider in Bangladesh which is operating with all the six mobile operators in the country: GrameenPhone, Robi, CityCell, TeleTalk, Banglalink and Airtel BD.
                           At present, Wintel controls a lion share of VAS market in Bangladesh and is still expanding its business globally. Its innovative ideas blended by stunning intelligence and cutting edge technologies, acquired from all around the globe made it far ahead of any competition so far.
                      </font><br/>

                      <a href = "http://wintelbd.com/index.php" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>

                </p>





       </body>




</html>

