<!DOCTYPE HTML>

<html>
	<head>
		<title>Doc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />



	</head>
	<body>
                 <h1 align = "center">
                       <font  size = "9" color = "#3FA7DB" > <b> FIFO TECH </b> </font>
                 </h1>

                 <img src = "fifo.JPG " height ="400" width = "800" align = "center" hspace = "100" vspace = "100"/>

                <p>
                      <font  size = "10" color = "#142869"> <u > About Us </u></font><br/>

                      <font  size = "5">Within this Consortium, we offer Information Technology Services, Business Process Outsourcing Solutions, Supply Chain Management, Consultancy Services and International Export Services. With our industry expertise and offshore liaison at the whole world, we are committed to providing maximum value, high quality and low cost Business Processing and IT Services, SCM and Consultancy Solutions to our prospective clients.

We have teams of dedicated and experienced e-business consultants, application developers, e-marketer, e-commerce programmers, web promoters, graphic designers, logistics and SCM experts. Our expertise in various industry-related technologies helps us advise our clients on business strategies from initial strategy development right through to building and maintaining a successful and effective solution. We go the extra mile for our clients and associates.
                      </font><br/>

                      <a href = "http://www.fifo-tech.com/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>



                 <h1 align = "center">
                       <font  size = "10" color = "#3FA7DB" > <b> Genex Infosys Ltd </b> </font>
                 </h1>
                 <img src = "genex.PNG" height ="400" width = "800" align = "center" hspace = "100" vspace = "20"/><br/>

                 <p>
                      <font  size = "10" color = "#142869"> <u > About Us </u></font><br/>

                      <font  size = "5"> 360 Degree Customer Experience Management With the latest technology embedded, competent staffs and optimized service, Genex has successfully launched solutions that's popular globally. Office management to leads management, Genex provides a 360 degree solution systems that optimizes performance and ROI.

                      </font><br/>

                      <a href = "https://www.genexinfosys.com/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>






       </body>




</html>

