<!DOCTYPE HTML>

<html>
	<head>
		<title>Doc</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />



	</head>
	<body>
                 <h1 align = "center">
                       <font  size = "9" color = "#3FA7DB" > <b> Mars Solutions Ltd </b> </font>
                 </h1>

                 <img src = "mars.JPG " height ="400" width = "800" align = "center" hspace = "100" vspace = "100"/>

                <p>
                      <font  size = "17" color = "#142869"> <u > About Us </u></font><br/>
                             MARS Solutions Limited is a multifaceted company having strong footprint in Information Technology and allied fields. From it's inception, the company has been rigorously working to create an IT savvy workforce in the country by extending hands-on training on software, hardware and various world-class ERPs including SAP. MARS has also successfully developed numerous innovative IT products and technology-driven logistics services. Some of which are already operative in the market and some are in the queue to be launched officially.

The company is an IT/ITES services company based in Dhaka, providing onsite and offshore IT outsourcing solutions to businesses across Asia, Middle-East, Europe and USA.

                      <font  size = "5">
                      </font><br/>

                      <a href = "https://www.mars.com.bd/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>



                 <h1 align = "center">
                       <font  size = "10" color = "#3FA7DB" > <b> My Outsourcing Ltd </b> </font>
                 </h1>
                 <img src = "my.JPG" height ="400" width = "500" align = "center" hspace = "300" vspace = "20"/><br/>

                 <p>
                      <font  size = "10" color = "#142869"> <u > About Us </u></font><br/>

                      <font  size = "5"> MY Group of Companies, a renowned conglomerate dealing mainly with IT enabled products and services Since 2009, recently launched its latest venture -- MY Outsourcing Ltd – a BPO/Contact Center service provider with a vision to change the way people do business and serve their clients. It specializes in offering contact center services, Back Office Support With robust infrastructure. We manage all our projects as efficiently as possible with conviction.

We value the latest technological developments to meet the growing needs of our customers. In that regard, we involve innovative techniques like call blending, voice logging, soft phone, IVR, ACD, dialer software and many more to offer improved service for our clients and meet their contact center/BPO outsourcing requirements.



                      </font><br/>

                      <a href = "https://www.myolbd.com/" target = "blank">
                              <font  size = "6" color = "#142869"> <b>   Learn More </b> </font>
                      </a>
             </p>






       </body>




</html>

